.aboutHeader{
    height:500px;
   overflow:hidden;
}
video.boat {
    background-position:bottom;
    background-size:cover;
    /*show bottom-half of view*/
    margin-top:-250px;
    width: 100vw;
}
/*hide controls*/
video::-webkit-media-controls {
    display: none;
  }
.quoteAbout{
    display:flex;
    flex-direction:column;
    font-family:"Bold";
    font-size:3rem;
    color:$black;
}
.aboutInfo{
    padding:50px;
}
.overviewAbout {
    font-family:"Regular";
    padding:70px 200px 70px 200px;
    font-style:italic;
    font-size:2rem;
    line-height:3rem;
    color:$grey;
    position:relative;
}