@import "utilities/variables";
@import "layout/all";
@import "base/reset";
@import "components/all";
@import "sections/all";


/*import font */
@font-face {
    font-family: "Regular";   
    src: local("OggRegular"),
      url("../../public../../public/fonts//OggRegular.ttf") format("truetype");
  };
  @font-face {
    font-family: "Bold";   
    src: local("OggBold"),
      url("../../public../../public/fonts///OggBold.ttf") format("truetype");
  };
  @font-face {
    font-family: "BoldItalic";   
    src: local("OggBoldItalic"),
      url("../../public/fonts//OggBoldItalic.ttf") format("truetype");
  };
  @font-face {
    font-family: "Light";   
    src: local("OggLigh"),
      url("../../public/fonts//OggLight.ttf") format("truetype");
  };
  @font-face {
    font-family: "LightItalic";   
    src: local("OggLightItalic"),
      url("../../public/fonts//OggLightItalic.ttf") format("truetype");
  };
  @font-face {
    font-family: "Medium";   
    src: local("OggMedium"),
      url("../../public/fonts//OggMedium.ttf") format("truetype");
  };
  @font-face {
    font-family: "MediumItalic";   
    src: local("OggMediumItalic"),
      url("../../public/fonts//OggMediumItalic.ttf") format("truetype");
  };
  @font-face {
    font-family: "RegularItalic";   
    src: local("OggRegularItalic"),
    url("../../public/fonts//OggRegularItalic.ttf")  format("truetype");
  };
  @font-face {
    font-family: "Thin";   
    src: local("OggThin"),
      url("../../public/fonts//OggThin.ttf") format("truetype");
  };
  @font-face {
    font-family: "ThinItalic";   
    src: local("OggThinItalic"),
      url("../../public/fonts//OggThinItalic.ttf") format("truetype");
  };
