$green: #266732;
$white: #eff1ee;
$grey: #656565;
$light-grey: #f3f1f1;
$darkest-grey:rgba(56, 41, 35, 0.6);
$black: #463f3f;
$green: #041708;
$aqua: #01c9bf;
$red: #470c11;
$teal: #3b8572;
$skyblue: #229bd0;
