input {
    width:300px;
}
/*date picker for add to bag*/ 
.datePicker {
    color:$black;
    width:100px;
    margin-top:10px;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background:$skyblue;
  }