


/*style tickmarks*/
.budget datalist#tickmarks {
    display:flex;
    justify-content:space-evenly;
    gap:100px;
}
.duration datalist#tickmarks {
    display:flex;
    justify-content:space-evenly;
    gap:25px;
}