a {
    /*remove underlines*/
    text-decoration:none;
    /*remove link coloring*/
    color:inherit;
}
li{
    /*remove bullets*/
    list-style:none;
}
datalist {
    display:flex;
}
/*style tickmarks*/
datalist#tickmarks {
    display:flex;
    gap:40px;
}