a {
    /*remove underlines*/
    text-decoration:none;
    /*remove link coloring*/
    color:inherit;
}
li{
    /*remove bullets*/
    list-style:none;
}
datalist {
    display:flex;
}
/*style tickmarks*/
.budget datalist#tickmarks {
    display:flex;
    justify-content:space-evenly;
    gap:100px;
}
.duration datalist#tickmarks {
    display:flex;
    justify-content:space-evenly;
    gap:25px;
}