marquee img {
    background-size:cover;
    border-radius: .5rem;
    width:auto;
    height:auto;
    max-height:200px;
    max-width:200px;
}
marquee .boat {
    margin-left:50px;
    margin-bottom:50px;
    margin-top:50px;
   
   
}
