.marquee-content  {
    min-width:100%;
    position:relative;
    animation: scroll 30s linear infinite;
    gap: var(--gap);
    display:flex;
    height:400px;
    flex-wrap:wrap;
    justify-content:space-between;
}
.marquee-content img {
    max-height:200px;
    max-width:200px;
    width:auto;
    height:auto;
    background-size:cover;
    border-radius: .5rem;
}
.marquee {
    height:auto;
    max-height:600px;
    overflow:hidden;
    margin-bottom:10px;
    --gap:1rem;
    gap:var(--gap);
    position:relative;
    display:flex;
    min-width:100%;
}


@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  