#header {
    background-image:url(../../images/cover.jpg);
    height:800px;
    width:100vw;
    max-width:100%;
    max-height:100%;
    object-fit:contain;
    background-size:cover;
    /*Place header at top, so nav can sit ontop*/
    top:0;
    display:flex;
    flex-direction:column;
    gap:40px;
    justify-content:flex-end;
}
.title {
    font-size:8rem;
    position:absolute;
    bottom:-80px;
    font-family:"Bold";
    color:$white;
    margin-left:20px;
    letter-spacing: 20px;
}
.welcome {
    font-size:2rem;
    font-family:"Light";
    margin-top: 50px;;
    letter-spacing:1px;
}
.imageButton {
    border-radius:50%;
    height:50px;
    width:50px;
    border:none;
    box-shadow:2px 2px rgb(73, 73, 73);
    background-color:white;
    /*button between the 2 divs*/
    position:absolute;
    bottom:-130px;
    /*center button*/
    left:50%;
    /*background image*/
    background-image:url('../../images/arrow.png');
    background-position:center;
    background-size:20px;
    background-repeat:no-repeat;
}