
#navBar {
    position:absolute;
    top:0;
    display:flex;
    justify-content:space-evenly;
    gap:500px;
    color:$cream;
    padding:45px 0px 30px 0px;
    width:100vw;
    align-items:center;
    box-sizing: border-box;
}
#centerNav {
    position:absolute;
    left:43%;
}
/*default set for icons*/
.facebook, .twitter, .instagram {
    height:30px;
    width:30px;
    fill:white;
    

}
/*spin on hover*/
.facebook:hover, .twitter:hover, .instagram:hover  {
transition: all 1s .25s;
  transform: rotateY(360deg);
}
/*shopping bag icon*/
.shoppingBag {
    height:30px;
    width:30px;
    /*create circle*/
    border-radius:50%;
    border:1.5px solid white;
}
/*Division of nav*/
#leftNav, #rightNav, #centerNav {
    width:auto;
    display:flex;
    gap:20px;
}
#rightNav {
    gap:10px;
}
/*Shopping bag icon with Bag label*/
#bagContainer {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:5px;
}
/*spin on hover, .25s delay, change cursor to shopping bag*/
#bagContainer:hover {
    transition: all 1s .25s;
  transform: rotateY(360deg);
  cursor: url('/images/shopping-bag.svg'), auto;
}
#leftNav {
    font-size:1.3rem;
    font-family:"Bold";
    margin-left:10px;
    letter-Spacing:2px;
    
}
#leftNav li:hover {
    border-bottom: 1px solid $white;
}
/* Slide in */
#leftNav li {
    position:relative;
    /*give transparent border so it doesn't move when we add it on hover*/
    border-bottom:1px solid transparent;
    padding-bottom:5px;
  }
  
  #leftNav li::after {
    position: absolute;
    content: "";
    background: black;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0%;
    transition: 300ms ease-in-out;
  }
  
  li:hover::after{
    width: 100%;
  left: 0;
  }

#centerNav {
    font-size:3rem;
    text-align:center;
    font-family:"Medium";
    width:150px;
}
/*prevent auto height*/
#rightNav {
    max-height:40px;
    font-family:"Regular";
    margin-right:30px;
    width:auto;
    direction:rtl;
}

