
#navBar {
    position:absolute;
    top:0;
    display:flex;
    justify-content:space-evenly;
    gap:500px;
    color:$white;
    padding:30px 0px 30px 0px;
    width:100vw;
    align-items:center;
    margin-top:15px;
}
#centerNav {
    position:absolute;
    left:43%;
    
}


/*default set for icons*/
.facebook, .twitter, .instagram {
    height:30px;
    width:30px;
    fill:white;
   
}

/*shopping bag icon*/
.shoppingBag {
    height:30px;
    width:30px;
    /*create circle*/
    border-radius:50%;
    border:1.5px solid white;
}
/*Division of nav*/
#leftNav, #rightNav, #centerNav {
    width:auto;
    display:flex;
    gap:20px;
}
#rightNav {
    gap:10px;
}
/*Shopping bag icon with Bag label*/
#bagContainer {
    display:flex;
    align-items:center;
    gap:5px;
}
#leftNav {
    font-size:1.2rem;
    font-family:"Regular";
    margin-left:10px;
    letter-Spacing:2px;
}
#centerNav {
    font-size:3rem;
    text-align:center;
    font-family:"Medium";
    width:150px;
}
/*prevent auto height*/
#rightNav {
    max-height:40px;
    font-family:"Regular";
    margin-right:30px;
    width:auto;
    direction:rtl;
}
